{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ auction.Title }}</h2>

{% if auction.img %}
<img src="{{ auction.img }}" alt="Auction image">
{% endif %}
<p>
    {{ auction.description }}
</p>
<p>
    {{ auction.startinPrice}}
</p>
<strong>
    {{ auction.Ends }}
</strong>

<form action="{% url 'bid' %}" method="post">
    {% csrf_token %}
    <input type="number" name="offering" id="offering-bif">
    <input type="hidden" name="id" value="{{ auction.id }}">
    <input type="submit" value="bid">
</form>
<hr>
<a href="{% url 'index' %}">Go to the list</a>
{% endblock %}